!!Cursor
Xcursor.size: 16

XTerm*utf8: 1
XTerm*renderFont: true
!XTerm*faceName: Terminus
!XTerm*faceSize: 10
XTerm*faceName: Inconsolata-Nerd
XTerm*faceSize: 13
XTerm*pointerShape:arrow
XTerm*internalBorder: 5
XTerm*ScrollKey: true
XTerm*SaveLines: 1000
XTerm*multiClickTime: 250
XTerm*VT100.geometry: 85x29
XTerm*title: XTerm
XTerm*ScrollBar: false
!!Term*font:-*-Inconsolata-medium-*-*--16-*-*-*-*-*-*-*

!!Selenized Theme
!#include ".themes/selenized-dark.xdefaults"
#include ".themes/catppuccin-mocha.Xresources"
